{% extends 'signupform/base.html' %}
{% load static %}

{% block content %}
<div class = 'formbox'>
    <form class="form-style-7" method = 'POST'>{% csrf_token %}
        <h1>Django Sign up form</h1>
    <ul>
    <li>
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id = 'first_name' maxlength="40" autofocus optional>
        <span>Enter your first name here</span>
    </li>
    <li>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" maxlength="40" id = 'last_name' required>
        <span>Enter your last name here</span>
    </li>
    <li>
        <label for="tel">Mobile Number</label>
        <input type="tel" name="mobile_number" pattern="[789][0-9]{9}" id = 'mobile_number' required>
        <span>Enter a valid mobile number</span>
    </li>
    <li>
        <span>
        <input type="checkbox" id="agree" value = 'selected' required><label for="check" class="terms_agree"> Agree with COMPANY <a href="https://google.com" class="link_text">Terms of Use</a> and <a href="https://google.com" class="link_text">Privacy Policy.</a></label>
        </span>
        <input type="submit" value="Sign Up" >
    </li>
    </ul>
    </form>
</div>
{% endblock %}
